@font-face {
    font-family: 'Gilroy';
    src: url('/bundles/kassuacmscore/fonts/Gilroy-Light.woff');
}
@font-face {
    font-family: 'Gilroy';
    src: url('/bundles/kassuacmscore/fonts/Gilroy-ExtraBold.woff');
    font-weight: bold;
}

* {
    font-family: 'Gilroy';
}
