{% extends '@KassuaCMSCore/base.html.twig' %}

{% block title %}{{ adminProps.title }}{% endblock %}

{% block content %}
    <div {{ react_component(pathToReact ~ 'cms-core/controllers/login/LoginIndex',{
        backendProps: backendProps,
        adminProps: adminProps
    }) }}>
    </div>
{% endblock %}
