{% extends '@KassuaCMSCore/base.html.twig' %}

{% block title %}{{ adminProps.title }}{% endblock %}

{% block content %}
    {#    {{ form(backendProps.form) }}#}
    <div {{ react_component(pathToReact ~ 'cms-core/controllers/todo/ToDoIndex',{
        backendProps: backendProps,
        adminProps: adminProps
    }) }}>
        Loading...
    </div>
{% endblock %}
