{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %} | KassuaCMS</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/kassuacmscore/images/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kassuacmscore/css/base.css') }}"/>
        {{ encore_entry_link_tags('kassua-cms', null, 'kassua-cms') }}
    {% endblock %}
    {% block scripts %}
        {{ encore_entry_script_tags('kassua-cms', null, 'kassua-cms') }}
    {% endblock %}
</head>
<body>
{% set pathToReact = '' %}
{% block body %}
    {% block content %}{% endblock %}
{% endblock %}
</body>
</html>
