{% extends '@KassuaCMSCore/base.html.twig' %}

{% block title %}{{ adminProps.title }}{% endblock %}

{% block content %}
{#    {{ form(backendProps.form) }}#}
    <div {{ react_component(pathToReact ~ 'cms-core/controllers/object/ObjectIndex',{
        backendProps: backendProps,
        adminProps: adminProps
    }) }}>
    </div>
{% endblock %}
