{% extends '@KassuaCMSCore/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div {{ react_component(pathToReact ~ 'cms-core/controllers/dashboard/DashboardIndex',{
    backendProps: backendProps,
    adminProps: adminProps
}) }}>
</div>
{% endblock %}
